.hot_line{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  .card_phone{
    width: 100%;
    background-color: var(--secondary);
    padding: 1rem;
    aspect-ratio: 4/3;
    //box-shadow: rgba(172, 255, 53, 0.5) 1px 1px 3px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    border-radius: 10px;
    img{
      max-height: 4rem;
      max-width: 80%;
    }
  }
}