.parent {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;

  div {
    padding: 20px;
    gap: 60px;
    box-shadow: rgba(0, 0, 0, 0.22) 1px 1px 3px 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .child1 {
    background-color: rgba(176, 211, 155, 0.5);
  }
  .child2 {
    background-color: rgba(189, 191, 230, 0.5);
  }
  .child3 {
    background-color: rgba(228, 207, 235, 0.5);
  }
  .child4 {
    background-color: rgba(238, 182, 182, 0.5);
  }
  .child5 {
    background-color: rgba(166, 201, 227, 0.5);
  }
  .child6 {
    background-color: rgba(226, 228, 170, 0.5);
  }
}
.slider {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 20px;
}