.parent {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;

  div {
    padding: 20px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .child1 {
    background-color: #B0D39B;
  }
  .child2 {
    background-color: #BDBFE6;
  }
  .child3 {
    background-color: #E4CFEB;
  }
  .child4 {
    background-color: #EEB6B6;
  }
  .child5 {
    background-color: #A6C9E3;
  }
  .child6 {
    background-color: #E2E4AA;
  }
}
.slider {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 20px;
}